<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="unozerouno.givemetime" >

     <uses-sdk android:minSdkVersion="14"
        android:maxSdkVersion="20"
        android:targetSdkVersion="19">

    </uses-sdk>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="unozerouno.givemetime.view.intro.ScreenSlidePagerActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        Use the following option for showing the action bar in the bottom of the screen
        android:uiOptions="splitActionBarWhenNarrow" -->
        <activity
            android:name="unozerouno.givemetime.view.main.MainActivity"
            android:label="MainActivity" >
            <meta-data android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow"/>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="unozerouno.givemetime.view.main.SettingsActivity"
            android:label="Settings">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="unozerouno.givemetime.view.editor.AddNewEventActivity"
            android:label="AddNewEvent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
    </application>

</manifest>
